{% extends 'AppBundle:Templates:template.html.twig' %}

{% block main_content %}
    <h1>Acce creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('acteurs_acces_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
